<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ActivePrompt Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "active_prompt/application", "data-turbo-track": "reload" %>
  </head>

  <body class="active-prompt-admin">
    <div class="admin-layout">
      <aside class="admin-layout__sidebar">
        <div class="admin-sidebar">
          <div class="admin-sidebar__header">
            <h1 class="admin-sidebar__title">ActivePrompt</h1>
            <span class="admin-sidebar__version">v<%= ActivePrompt::VERSION %></span>
          </div>
          
          <nav class="admin-sidebar__nav">
            <ul class="admin-nav">
              <li class="admin-nav__item">
                <%= link_to "Dashboard", "#", class: "admin-nav__link admin-nav__link--disabled" %>
              </li>
              <li class="admin-nav__item">
                <%= link_to "Prompts", prompts_path, 
                    class: "admin-nav__link #{'admin-nav__link--active' if %w[prompts versions].include?(controller_name)}" %>
              </li>
              <li class="admin-nav__item">
                <%= link_to "Templates", "#", class: "admin-nav__link admin-nav__link--disabled" %>
              </li>
              <li class="admin-nav__item">
                <%= link_to "Responses", "#", class: "admin-nav__link admin-nav__link--disabled" %>
              </li>
              <li class="admin-nav__item">
                <%= link_to "Settings", "#", class: "admin-nav__link admin-nav__link--disabled" %>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <main class="admin-layout__main">
        <div class="admin-main">
          <% if flash.any? %>
            <div class="admin-notifications">
              <% flash.each do |type, message| %>
                <div class="admin-notification admin-notification--<%= type %>">
                  <%= message %>
                </div>
              <% end %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>