<!DOCTYPE html>
<html>
  <head>
    <title>Prompt Engine Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag    "prompt_engine/application", media: "all" %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
